<div class="main">
  <h1 class="title">Что выберешь ты?</h1>
  <div class="main__matrix">
    <a href="/auth" class="main__blue">
      <span>Войти</span>
    </a>
    <a href="/auth/reg" class="main__red">
      <span>Регистрация</span>
    </a>
  </div>
</div>
