
<section class="profile">
  <h1 class="title">Привет {{userName}}!</h1>
  
  <span class="profile__stat">Всего категории: <i>{{lengthCategory}}</i></span>
  <span class="profile__stat">Всего продуктов: <i>{{lengthProducts}}</i></span>
</section>
