<script defer src="/js/regFront.js"></script>

<section class="login registration">
    <h1 class="title login__title">Регистрация</h1>
    <form action="#" method="POST" class="login__form registration">
      <div class="login__block">
        <label for="idName" class="login__label">Имя:</label>
        <input type="text" name="name" id="idName" placeholder="Введите ваше имя...">
      </div>
      <div class="login__block">
        <label for="idEmail" class="login__label">Email:</label>
        <input type="email" name="email" id="idEmail" placeholder="Введите почту...">
      </div>
      <div class="login__block">
        <label for="idPass" class="login__label">Пароль:</label>
        <input type="password" name="password" id="idPass" placeholder="Введите пароль...">
      </div>
      <button type="submit" class="login__btn">Регистрация</button>
    </form>
    <em class="login__em">создать аккаунт с помощью:</em>
    <div class="login__links">
      <span class="social-list__item google"></span>
      <span class="social-list__item github"></span>
      <span class="social-list__item facebook"></span>
    </div>
    <p class="login__registartion">Регистрируясь, Вы соглашайтесь с политикой
      конфиденциальности
    </p>

    <img class="green" src="/img/green.png" alt="green">

  </section>
  <div class="registration-red"></div>
  <div class="registration-circle"></div>
  <div class="registration-bigWave"></div>
