<script defer src="/js/signinFront.js"></script>


<section class="login">
    <h1 class="title login__title">Войти</h1>
    <form action="#" method="POST" class="login__form">
      <div class="login__block">
        <label for="idEmail" class="login__label">Email:</label>
        <input type="email" name="email" id="idEmail" placeholder="Введите почту...">
      </div>
      <div class="login__block">
        <label for="idPass" class="login__label">Пароль:</label>
        <input type="password" name="password" id="idPass" placeholder="Введите пароль...">
      </div>
      <button type="submit" class="login__btn">Войти</button>
    </form>
    <em class="login__em">или продолжить с:</em>
    <div class="login__links">
      <span class="social-list__item google"></span>
      <span class="social-list__item github"></span>
      <span class="social-list__item facebook"></span>
    </div>
    <p class="login__registartion">Нет аккаунта?
      <a href="/auth/reg" class="login__link">Зарегистрироваться бесплатно.</a>
    </p>

    <img class="green" src="img/green.png" alt="green">
    <div class="login__wave-block">
      <img class="wave" src="img/wave.png" alt="waveBlue" width="185" height="85">
      <img class="wave2" src="img/wave.png" alt="waveBlue2" width="185" height="85">
    </div>
  </section>
  <img class="spiral-red" src="img/red.png" alt="red">
  <img class="circle" src="img/sircleBlue.png" alt="blue">
  <div class="bigWave"></div>
